<<<<<<< HEAD
﻿
=======
﻿@model Product
>>>>>>> 81b1e6c9871302a01a0c3cb60a786dbe4fe9aefb
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<<<<<<< HEAD
<h1>AddProduct</h1>
=======
<h1 class="mb-5">Add Product</h1>

<div class="card">
    <div class="card-header">
        <h4>Add Product</h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card-body">
                <form class="needs-validation" method="post" asp-controller="Dashboard" asp-action="AddProduct">
                    <div class="row">
                        <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-form-label">Product Name</label>
                        <input type="text" asp-for="ProductName" class="form-control" required="">
                        <div class="invalid-feedback">Input Product!</div>
                        <div class="text-danger">@ViewBag.msg</div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Quantity</label>
                        <input type="text" asp-for="Quantity" class="form-control" required="">
                        <div class="invalid-feedback">Input Quantity!</div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Price</label>
                        <input type="text" asp-for="Price" class="form-control" required="">
                        <div class="invalid-feedback">Input Price!</div>
                    </div>
                        </div>
                        <div class="col-md-6">
                    <div class="form-group">
                        <label>Image</label>
                        <input type="file" asp-for="Image" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Select Category</label>
                        <select asp-for="CategoryId" asp-items="ViewBag.Category" class="custom-select"></select>
                    </div>
                    <div class="form-group">
                        <label>Select Brand</label>
                        <select asp-for="BrandId" asp-items="ViewBag.Brand" class="custom-select"></select>
                    </div>
                        </div>
                    </div>
                    <input class="btn text-light btn-primary" type="submit" value="Submit" readonly />
                </form>

            </div>

        </div>
    </div>
</div>
>>>>>>> 81b1e6c9871302a01a0c3cb60a786dbe4fe9aefb

