@model List<Brand>
@{
    ViewData["Title"] = "Brand";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="d-flex justify-content-between">
    <h1>Brands</h1>
    <button class="btn btn-primary">+<a asp-controller="Dashboard" asp-action="AddBrand" class="text-light">Add Brand</a></button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <td scope="col">Brand ID</td>
            <td scope="col">Brand Name</td>
            <td scope="col">Edit</td>
            <td scope="col">Delete</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <th scope="row">@item.BrandId</th>
                <td scope="col">@item.BrandName</td>
                <td scope="col"><button class="btn btn-primary"><a class="text-light" asp-route-id="@item.BrandId" asp-action="EditBrand" asp-controller="dashboard">Edit</a></button></td>
                <td scope="col"><button class="btn btn-danger"><a class="text-light" asp-route-id="@item.BrandId" asp-action="DeleteBrand" asp-controller="dashboard">Delete</a></button></td>
            </tr>
        }
    </tbody>
</table>


