@model List<Category>
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="d-flex justify-content-between">
<h1>Categories</h1>
<button class="btn btn-primary">+<a asp-controller="Dashboard" asp-action="AddCategory" class="text-light">Add Category</a></button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <td scope="col">Category ID</td>
            <td scope="col">Category Name</td>
            <td scope="col">Edit</td>
            <td scope="col">Delete</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
        <tr>
                <th scope="row">@item.CategoryId</th>
                <td scope="col">@item.Name</td>
                <td scope="col"><button class="btn btn-primary"><a class="text-light" asp-route-id="@item.CategoryId" asp-action="EditCategory" asp-controller="dashboard">Edit</a></button></td>
                <td scope="col"><button class="btn btn-danger"><a class="text-light" asp-controller="Dashboard" asp-action="DeleteCategory" asp-route-id="@item.CategoryId">Delete</a></button></td>
        </tr>
        }
    </tbody>
</table>


